/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {margin:1.43em auto; padding:0; width:52em; background:rgb(254,254,254);
	color:rgb(22,22,22); font-family:'Open Sans','Ubuntu','Georgia',serif;}

a {color:rgb(083,083,083); text-decoration:none;}
a:hover {text-decoration:underline;}

form {padding:0; margin:0;}
h1 {font-weight:normal;}
fieldset {margin:1ex 0; padding:0; border:none;}
legend {font-size:1.6em;}
input,textarea {border:2pt solid rgb(237,237,237); color:rgb(22,22,22);
	margin:2pt 0;}
input[type=datetime] {width:8.3em;}
input[type=number] {width:3.1em;}
textarea {width:94%; box-sizing:border-box; padding:0;}
tr:nth-child(even) {background:rgb(247,247,247);}
td {border-top:2pt solid rgb(222,222,222); padding-top:0;}
thead {text-align:left;}

#site-title {font-size:5em; padding:0; margin:0 0 2pt 0;}
#edit-box {margin-top:2em; border-top:2pt solid rgb(222,222,222);}
.range {width:6.4em;}

.right {float:right; margin:0 0 1em 1em;}
.hidden {display:none;}
.linky {cursor:pointer;}
.high {background:rgb(220,110,110); color:white;}
.low {background:rgb(110,220,220);}

path,line {fill:none; stroke:black; shape-rendering:crispEdges;}
text {text-anchor:end;}

nav>ul {text-indent:0; margin:0 0 .83em; padding:0 0 .83em 1.2em;
	border-bottom:3pt solid rgb(222,222,222);}
nav>ul>li {display:inline; font-size:.9em; margin:0 1ex 0 0;
	border-left:2pt dotted rgb(42,143,143); padding:0 0 0 1ex;}
footer {margin:1.2em 0 0; padding:3pt 0 0; clear:both; text-align:right;
	border-top:2pt solid rgb(222,222,222); font-size:.8em;}

main {width:38em; padding:0 2em 1em 0; float:left; margin:0;
	line-height:1.43em;}
aside {width:12em; padding:0; float:left;}

@media mobile, handheld, all and (max-width:52em),
all and (view-mode:minimized){
	#site-title {font-size:2.7em;}
	main {width:100%; float:none; margin:0 0 1em; padding:0;}
	aside {width:100%; float:none; clear:both;
		border-top:3pt solid rgb(222,222,222);}
	body {width:auto; padding:1em; margin:0;}
}
@media print{
	body {background:white; color:black; padding:0; margin:0; width:100%;
		font-size:10pt;}
	header,footer,aside {display:none;}
}
